<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Decentralized insurance - buy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<nav class="left">
				<a href="#menu"><span>Menu</span></a>
			</nav>
			<a href="index.html" class="logo">Decentralized insurance</a>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="home.html">Home</a></li>
				<li><a href="buy.html">Buy</a></li>
				<li><a href="claim.html">Claims</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<header class="align-center">
					<h1>Buy</h1>
				</header>
				<p>
					<b>Your wallet address:</b> <span id='address'></span>
				</p>
				{% if content %}
				<header>
					<h3>Submitted data</h3>
				</header>
				<p>
					<table>
						<tr>
							<td><b>Time:</b> <span id='year'></span>-<span id='month'></span>-<span id='day'></span> <span id='time'></span></td>
						</tr>
						<tr>
							<td><b>Origin:</b> <span id='origin'></span></td>
						</tr>
						<tr>
							<td><b>Destination:</b> <span id='destination'></span></td>
						</tr>
					</table>
					<a id="buy" class="button small">Buy</a>
				</p>
				{% else %}
				<p>You can only buy an insurance by using authenticated data from PDFS airlines</p>
				<p>
					<form id="buy" 
							method="POST" 
							action="buy.html"
							enctype="multipart/form-data">
						<input type="file" name="qr" value="Load QR code" />
						<input type="hidden" name="account" id="account" value="" />
						<a id="load" class="button small">Load</a>
					</form>
				</p>
				{% endif %}
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<h2>Get In Touch</h2>
				<ul class="actions">
					<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
					<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
					<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
				</ul>
			</div>
			<div class="copyright">
				&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
			</div>
		</footer>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
		<script>
			web3.eth.getAccounts(function(err, accounts){

				{% if content %}

				var data = '{{content | safe}}';
				flight = JSON.parse(data);
				$('span#year').text(flight.Year);
				$('span#month').text(flight.Month);
				$('span#day').text(flight.DayofMonth);
				$('span#time').text(flight.CRSDepTime);
				$('span#origin').text(flight.Origin);
				$('span#destination').text(flight.Dest);
				var contractABI = web3.eth.contract(JSON.parse('{{abi | safe}}'));
				var contractInstance = contractABI.at("{{address}}");
				$('a#buy').click(function(){
					contractInstance.get_root(function(err, resp){console.log(resp);});
					contractInstance.buy_insurance(data, {from:accounts[0], value:web3.toWei(0.27, 'ether')}, function(error, result){
						if (error) {
							alert("Please, connect to the network");
							reject(error);
						} else {
							window.location.replace("/home.html?account=" + accounts[0] + "&tx=" + result);
						}
					});
				});
				{% endif %}

				$('input#account').val(accounts[0]);	
				$('a#load').click(function(){
					$('form#buy').submit();
				});
			});
		</script>
	</body>
</html>