<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Decentralized insurance - buy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<nav class="left">
				<a href="#menu"><span>Menu</span></a>
			</nav>
			<a href="index.html" class="logo">Decentralized insurance</a>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<ul class="links">
				<li><a href="home.html">Home</a></li>
				<li><a href="buy.html">Buy</a></li>
				<li><a href="claim.html">Claims</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<header class="align-center">
					<h1>Your account</h1>
				</header>
				<p>
					<b>Your wallet address:</b> <span id='address'></span>
				</p>
				{% if status %}
				<p>
					<b>Status:</b> {{status}}
				</p>
				{% endif %}
				{% if Year %}
				<header class="align-center">
					<h3>Current issurance</h3>
				</header>
				<p>
					<table>
						<tr>
							<td><b>Time:</b> {{Year}}-{{Month}}-{{DayofMonth}} {{CRSDepTime}}</td>
						</tr>
						<tr>
							<td><b>Origin:</b> {{Origin}}</td>
						</tr>
						<tr>
							<td><b>Destination:</b> {{Dest}}</td>
						</tr>
					</table>
					<a id="claim" href="claim.html" class="button small">Go to claim</a>
				</p>
				{% else %}
				<p>
					<a href="buy.html" class="button scrolly small">Buy insurance</a>
				</p>
				{% endif %}
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<h2>Get In Touch</h2>
				<ul class="actions">
					<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
					<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
					<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
				</ul>
			</div>
			<div class="copyright">
				&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
			</div>
		</footer>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	</body>
</html>