<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>PDFS Airlines - admin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">PDFS Airlines</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="manage.html">Manage booking</a></li>
					<li><a href="flights.html">Flights</a></li>
					<li><a href="admin.html">Admin</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>PDFS data loading</h1>
			</div>

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<div class="content">
					{% if submitted %}
					<header>
						<h3>Synchronize blockchain data</h3>
					</header>
					<p><b>Root value:</b> {{root_hash}}</p>
					<p>
						<a id="submit" href="submit.html" class="button small">Submit Merkle tree root</a>
					</p>
					<header>
						<h3>Unsubmitted data</h3>
					</header>
					{{dataframe | safe}}
					{% else %}
					<header>
						<h3>Load file with new information</h3>
					</header>
					<p>
						<form id="load" 
							  method="POST" 
							  action="load.html"
							  enctype = "multipart/form-data">
							<input type="file" name="flights" />
							<a id="load" class="button small">Load</a>
							
						</form>
					</p>
					{% endif %}
				</div>
			</div>
		</section>


		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>