<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>PDFS Airlines</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a class="logo" href="index.html">PDFS Airlines</a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="manage.html">Manage booking</a></li>
				<li><a href="flights.html">Flights</a></li>
				<li><a href="admin.html">Admin</a></li>
			</ul>
		</nav>

		<!-- Heading -->
		<div id="heading" >
			<h1>List of flights</h1>
		</div>

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<div class="content">
					<header>
						<h2>Your account</h2>
					</header>
					<p><b>Wallet address:</b> <span id="address"></span></p>
					<header>
						<h2>Your flights</h2>
					</header>
					<p>
						<table>
							<tr>
								<td><b>Time:</b> <span id='year'></span>-<span id='month'></span>-<span id='day'></span> <span id='time'></span></td>
							</tr>
							<tr>
								<td><b>Origin:</b> <span id='origin'></span></td>
							</tr>
							<tr>
								<td><b>Destination:</b> <span id='destination'></span></td>
							</tr>
							<tr>
								<td><b>Status:</b> <span id="status"></span></td>
							</tr>
							<tr>
								<td><img id='qr' style="width:300px;"/></td>
							</tr>
						</table>
					</p>
				</div>
			</div>
		</section>


		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
		<script>
			web3.eth.getAccounts(function(err, accounts){
				$('span#address').text(accounts[0]);
				$.getJSON({url:"flights.html", data:{account:accounts[0]}}, function(data){
					flight = data;
					$('span#year').text(flight.Year);
					$('span#month').text(flight.Month);
					$('span#day').text(flight.DayofMonth);
					$('span#time').text(flight.CRSDepTime);
					$('span#origin').text(flight.Origin);
					$('span#destination').text(flight.Dest);
					if(flight.hasOwnProperty('Cancelled')){
						if (flight.Cancelled == 1) {
							$('span#status').text('Cancelled');	
						} else {
							$('span#status').text('On time');
						}
					} else {
						$('span#status').text('--');
					}
					$('img#qr').attr('src', "get_image.jpg?account=" + accounts[0] + "&date=" + Date.now());
				});
			});
		</script>
	</body>
</html>